// Set your brand colors
$blue: #3D5A80;
$brown: #494a3e;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;


@use '~/bulma/sass' with (
    $family-primary: '"Poppins", sans-serif',
    $grey-dark: $brown,
    $grey-light: $beige-light,
    $primary: $blue,
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");